* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none ;
    font-family: "InterFace", sans-serif;
    
  }
  
  header{
    position: fixed; 
    left: 0;
    right: 0;
    top: 0;
    height: 65px;
    background: #fff;
    box-shadow: 0 0px 9px 4px rgba(0, 0, 0, 0.6), 0 -5px 2px 2px rgba(0, 0, 0, 0.6);
    z-index: 1000;
  }
  
  .logo_principal{
    position: relative;
    float: left;
    top: 26%;
    bottom: 26%;
    left: 11%;
    padding: 0 15px;
  }

  .logo_principal img{
    max-width: 100%;
    max-height: 100%;
  }
  
  .logos{
    position: relative;
    float: left;
    top: 28%;
    bottom: 15%;
    left: 10.5%;

  }

  .logos img{
    height: 30px;
  }

  .links {
    text-align: center;
    left: -4%;
    position: relative;
  
  }
  
  .links li {
    text-align: center;
    list-style: none;
    position: relative;
    margin-top: 11px;
    display: inline-block;
    
  }
  .links li a:first-child:hover{

    
  }

  .links li>a {
    margin-top: 7px;
    text-align: center;
    display: inline-block;
    padding: 0 10px;
    line-height: 30px;
    height: 30px;
    color: black;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
  }

  .icons{
    position: relative;
    margin-left: 90%;
    bottom: 40%;
    word-spacing: 10px;
    right: 9%;
    padding: -1px;
  }
  
  .icons img{
    width: 12%;
    height: 12%;
  }

  .hamburger{
    display: none;
  }

  .bar{
    width: 30px;
    height: 6px;
    display: block;
    padding: 0;
    margin: 6px;
  }

  .slideshow{
    margin-top: 65px;
    width: 100%;
    height: 10%;
  }

  .imagens_1{
    display: grid;
    margin-left: 7%;
    margin-right: 5%;
    margin-top: 10%;
    grid-template-columns: repeat(3, 450px);
  }

  @media  screen and (max-width: 930px) {
    .imagens_1{
    display: grid;
    grid-template-columns: repeat(1, 100px);
    grid-gap: 30px;
    
    }
  }
  .destaque .title{
    color: black;
    font-style: normal;
    font-family:"Interface", sans-serif;
    margin-left: 7%;
    font-weight: 400;
    font-size: 30px;
  
  }
  .destaque a{
    color: #e41819;
    display: flex;
    text-decoration: underline;
    line-height: 100%;
    margin-left: 82.5%;
    margin-top: -20px;
    
  }
  .seta{
    margin-top: -20px;
    margin-left: 81.2%;
  }
  .title2{
    color: black;
    font-style: normal;
    font-family:"Interface", sans-serif;
    margin-left: 5.5%;
    font-weight: 400;
    font-size: 30px;
  }
  .imagens2{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, 350px); 
    margin-left: 15%;
    position: relative;
    width: auto;
    margin-right: 15%;
}

.imagens2 p{
    margin-top: 25px;
    font-size: 120%;
}

.imagens2 li{
    list-style: none;
    display: inline-block;
    text-align: left;
    margin: 20px;
    font-style: normal;
    font-family: "Interface", sans-serif;
}

@media screen and (max-width: 930px){
    .imagens2{
        display: flex;
        flex-wrap: wrap;
        display: grid;
        grid-template-columns: repeat(2, 200px);
        margin-left: 10px;
        margin-top: 43px;
        justify-content: space-between;
    }
}

@media screen and (max-width: 760px){
    .imagens2{
        display: grid;
        grid-template-columns: repeat(1, 100px);
        padding: 0 17px;
    }
}
  .eco{
    margin-left: 5%;
    width: 46%;
    margin-top: 7%;
  }
  .title3{
    margin-left: 50%;
    margin-top: -295px;
    font-size: 30px;
  }
  .texto{
    display: block;
    margin-left: 50%;
    margin-top: 30px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    width: 35%;
    color: #757575;
    font-family: Interface, sans-serif;
}
  .botao {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    color: rgb(255, 255, 255);
    height: 48px;
    margin-left: 50%;
    background: rgb(228, 24, 25);
    border-radius: 4px;
    padding: 16px 24px;
    border-color: rgb(228, 24, 25, 0);
    width: 200px;
    margin-top: 1.8%;
  }

  @media screen and (max-width: 930px){
    .eco img{
      display: block;
      margin-left: -2%;
    }
    .title3{
      display: block;
      margin-left: 4%;
      margin-top: 20px;
    }
    .texto{
      display: block;
      margin-left: 4%;
      width: 600px;
    }
    .botao{
      display: block;
      margin-left: 4%;
      margin-top: 35px;
    }
  }
  @media screen and (max-width: 705px){
  .eco img{
    width: 180%;
  }
  .texto{
    width: 75%;
  }
  .botao{
    margin-top: 30px;
  }
  }

  .encontar .title4{
    color: black;
    font-style: normal;
    font-family:"Interface", sans-serif;
    margin-left: 5%;
    font-weight: 400;
    font-size: 30px;
  }
  .formulario_pesquisa{
    margin-top: -18%;
    margin-left: 0;
    left: 12%;
    background-color: white;
    box-shadow: 0px 12px 32px rgb(0 0 0 / 10%);
    border-radius: 6px;
    width: 550px;
    height: 380px;
    padding-top: 50px;
    padding-bottom: 30px;
    position: absolute;
    top: 50%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
    z-index: 1;
  }  

  .formulario_pesquisa nav{
    border-bottom: 1px solid #eee;
    display: flex;
    padding: 0 30px;
    width: 100%;
  }

  .formulario_pesquisa nav a.selected{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: black;
    position: relative;
  }

  .formulario_pesquisa nav a.selected::after{
    position: absolute;
    height: 3px;
    background: #e41819;
    bottom: 0;
    left: 0;
    width: 62px;
    content: "";
  }

  .formulario_pesquisa nav a:first-child{
    margin-right: 34px;
  }

  .formulario_pesquisa nav a{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #757575;
    height: 100%;
    display: block;
    padding-bottom: 16px;
  }

  .formulario_pesquisa .item select{
    -webkit-appearance: none;
    text-indent: 1px;
    background-color: white;
    border: 1px solid #CBCBCB;
    border-radius: 4px;
    padding-left: 16px;
    padding-right: 30px;
    width: 239px;
    max-width: 100%;
    height: 47px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    display: flex;
    align-items: center;
    color: #333;
    background-image: url(../img/seta_select.png);
    background-position: calc(100% - 15px) center;
    background-repeat: no-repeat;
  }

  .formulario_pesquisa .item:nth-child(even){
    padding-left: 30px;
  }

  .formulario_pesquisa .item:nth-child(odd){
    padding-right: 30px;
  }

  option{
    font-weight: normal;
    display: block;
    white-space: nowrap;
    min-height: 1.2em;
    padding: 0px 2px 1px;
  }

  .formulario_pesquisa .submit{
    padding: 0 30px;
    width: 100%;
  }

  .formulario_pesquisa .submit input{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 18px 32px;
    background: #e41819;
    border-radius: 4px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    color: white;
    border: 0;
    width: 100%;
  }
  input[type=submit] {
    cursor: pointer;
  }

  .imgcidade img{
    width: 90%;
    height: 60%;
}

.imgcidade{
    font-size: 90%;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, 350px); 
    align-items: center;
    margin-left: 130px;
    position: relative;
    margin-right: 100px;
    margin-bottom: 140px;
}

@media screen and (max-width: 930px){
.imgcidade{
  display: block;
  margin-left: 5%;
}

}

    /*JAVASCRIPT*/

  .javatitulo
  {
      width: 100%;
      height: 50px;
      align-content: center;
      font-size: 20px;
      color: black;
  }
  
  #inputs
  {
      height: 400px;
      color: #555;
      margin-left: 43.4%;
  }
  #submetejava
  {
      width: 100px;
      background-color: red;
      color: white;
      border:  red;
      margin-top: 6px;
      padding: 10px;
      font-size: 18px;
      border-radius: 5px;
  }
  #repor
  {
    width: 100px;
    background-color: red;
    color: white;
    border:  red;
    margin-top: 20px;
    padding: 10px;
    font-size: 18px;
    margin-left: 0.54%;
    border-radius: 5px;
  }
  .javabutao button:hover
  {
      cursor: pointer;
  }

  .javabutao input:hover
  {
      cursor: pointer;
  }

  #antesbutao input
  {
      width: 200px;
      padding: 5px;
      margin-bottom: 5px;
  }

  #inputs select
  {
      width: 200px;
      padding: 5px;
      margin-bottom: 5px;
  }

  .javatitulo b
  {
      display: block;
      text-align: center;
  }
  .compra
  {
      width: 100%;
      height: 300px;
  
  }
  #mauestado
  {
      width: 33%;
      height: 300px;
      color: #555;
      background-color: #f3f3f3;
      display: inline-block;
  
  }
  #mauestado :hover
  {
      
      color: #555;
      cursor: pointer;
  }
  #bomestado #escolhas :hover
  {
      
      color: #555;
      cursor: pointer;
  }
  #mbomestado #escolhas :hover
  {
      
      color: #555;
      cursor: pointer;
  }
  #mauestado b
  {
      display: block;
      text-align: center;
      font-size: 20px;
  }
  #maupreço
  {
      width: 100%;
      height: 50px;
      text-align: center;
      margin-top: 20px;
      display: block;
      font-size: 25px;
  }
  #bompreço
  {
      width: 100%;
      height: 50px;
      text-align: center;
      margin-top: 20px;
      display: block;
      font-size: 25px;
  }
  #mbompreço
  {
      width: 100%;
      height: 50px;
      text-align: center;
      margin-top: 20px;
      display: block;
      font-size: 25px;
  }
  #escolhas
  {
      width: 100%;
      height: 200px;
      color: transparent;
  }
  #bomestado
  {
      width: 33%;
      height: 300px;
      color: #555;
      background-color: #f3f3f3;
      border-left: 2px solid red;
      border-right: 2px solid red;
      border-bottom: 0px;
      border-top: 0px;
      display: inline-block;
  }
  #bomestado b
  {
      display: block;
      text-align: center;
      font-size: 20px;
  }
  #mbomestado
  {
      width: 32.9%;
      height: 300px;
      color: #555;
      background-color: #f3f3f3;
      display: inline-block;
  }
  #mbomestado b
  {
      display: block;
      text-align: center;
      font-size: 20px;
  }
  #escolhas b
  {
      font-size: 14px;
      display: block;
      text-align: left;
      margin-left: 5px;
  }

  /*FOOTER*/

  footer {
    margin-top: 100px;
    background: #F6F6F6;
    padding-top: 60px;
    width: 100%;
  }

  .wrapper{
    max-width: 100%;
    width: 1411px;
    margin: 0 auto;
    padding: 0 50px;
  }

  .footer1{
    display: flex;
    width: 100%;
    padding-bottom: 50px;
  }

  .footer_esquerda{
    width: 200px;
    display: flex;
    flex-wrap: wrap;
    margin-left: 0;
  }

  .texto_footer{
    display: inline-block;
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    width: 100%;
    margin-bottom: 10px;
    font-family: InterFace, sans-serif;
  }

  .redes_sociais{
    display: inline-block;
    width: 100%;
    text-align: left;
  }

  .rede_social{
    margin-right: 15px;
    display: inline-block;
  }

  .rede_social img{
    max-width: 30px;
    width: 100%;
    display: block;
  }

  .copyright{
    margin-top: 13%;
    width: 100%;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: black;
    font-family: InterFace, sans-serif;
  }

  .footer_direita{
    display: flex;
    margin-left: auto;
  }

  h3{
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    color: #000000;
    margin-bottom: 10px;
  }

  .form_newsletter input[type=email]{
    background: #FFFFFF;
    border: 1px solid #CBCBCB;
    border-radius: 4px;
    padding: 0 16px;
    height: 56px;
    width: 415px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    display: flex;
    color: #333333;
  }

  .form_newsletter input[type=submit]{
    margin-top: 18px;
    border: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    text-align: center;
    color: #FFFFFF;
    justify-content: center;
    align-items: center;
    padding: 13px 24px;
    background: #E41819;
    border-radius: 4px;
  }

  .wrapper .footer2{
    height: 89px;
    border-top: 1px solid #EEEEEE;
    margin-top: -18px;
    width: 100%;
  }
  .wrapper .rodape{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    background-color: #F6F6F6;
  }

  .wrapper .rodape a:first-child{
    margin: 0;
  }

  .wrapper .rodape a{
    color: #757575;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    margin-left: 6%;
  }


/*codigo cards carros em destaque*/

body{
  background:#ffffff;
}

.item2{
  border-radius: 1%;
  border: 1px solid #CBCBCB;
  width:290px;
  height:520px;
  background-color: white;
  overflow: hidden;
  transition: 0.5s;
  margin: 15px;
  scroll-snap-align: start;
}
.foto .imagem{
  display: block;
  width: 100%;
  object-fit: cover;
}

.foto .favorito{
  position: absolute;
  display: block;
  margin-top: -185px;
  margin-left: 250px;
  width: 20px;
  height: 20px;
}

.foto .favorito img{
  width: 20px;
  height: 20px;
}
.foto .content{
  width: 100%;
  padding: 21px 23px;
  padding-bottom: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.foto .seta_direita{
  position: absolute;
  margin-top: -100px;
  margin-left: 245px;
}

.foto .seta_direita img{
  width: 25px;
  height: 25px;
}

.foto .seta_esquerda{
  position: absolute;
  margin-top: -100px;
  margin-left: -5px;
}

.foto .seta_esquerda img{
  width: 25px;
  height: 25px;
}

.content .titulo_carro{
  width: 100%;
  font-weight: bolder;
  font-size: 20px;
  font-family: "InterFace", sans-serif;
  color: black;
}

.content .descricao_carro{
  font-family: "InterFace", sans-serif;
  font-size: 14px;
  color: #757575;
}

.content .specs{
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  margin-left: -3px;
  width: 80%;
  min-height: 58px;
  flex-direction: row;
  font-family: "InterFace", sans-serif;
}

.content .specs .spec{
  background: #F6F6F6;
  color: #757575;
  border-radius: 6px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 1px 8px;
  gap: 10px;
  margin: 0 3px;
  margin-bottom: 6px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  height: 23px;
}

.preco{
  margin-top: 13px;
  width: 100%;
  flex-direction: row;
  padding: 0 23px;
}

.preco .comprar_pronto{
  display: flex;
  border-bottom: 1px solid #CBCBCB;
  padding-bottom: 9px;
  width: 100%;
  margin-bottom: 11px;
  font-family: "InterFace", sans-serif;
}

.preco .comprar_ja .valor{
  margin-top: 20px;
  width: 100%;
  display: block;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 150%;
  color: #E41819;
  font-family: "InterFace", sans-serif;
}

.preco .comprar_ja .despesas{
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: #757575;
  font-family: "InterFace", sans-serif;
}

.fim_card{
  display: flex;
  width: calc(100% + 4px);
  margin-left: -2px;
  padding: 0 23px;
  padding-top: 13px;
  margin-top: auto;
  flex-wrap: wrap;
}

.fim_card .highlights{
  display: flex;
  align-items: center;
  padding: 3px 6px 3px 6px;
  gap: 4px;
  width: auto;
  height: 24px;
  background: #E41819;
  border-radius: 6px;
  margin: 3px 2px;
}

.fim_card .highlights .label{
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 150%;
  color: #FFFFFF;
  font-family: "InterFace", sans-serif;
}
#list{
  display: flex;
  width:max-content;
}
#formList{
  width:1280px;
  max-width: 100%;
  overflow: auto;
  margin:100px auto 50px;
  scroll-behavior: smooth;
  scroll-snap-type: both;
}
#formList::-webkit-scrollbar{
  display: none;
}

.button2{
  display: flex;
  justify-content: center;
  margin: 20px;
}
.button2 label{
  height: 6px;
  width: 6px;
  border-radius: 20px;
  background: #D9D9D9;
  margin: 0 4px;
  cursor: pointer;
  transition: all 0.5s ease;
}
.button2 label.active{
  background-color: red;
  width: 35px;
}

#one:checked ~ .button2 .one{
  width: 35px;
}
#one:checked ~ .button2 .two{
  width: 5px;
}
#one:checked ~ .button2 .three{
  width: 5px;
}
#one:checked ~ .button2 .four{
  width: 5px;
}
#one:checked ~ .button2 .five{
  width: 5px;
}
#one:checked ~ .button2 .six{
  width: 5px;
}

#two:checked ~ .button2 .one{
  width: 5px;
  background-color: #D9D9D9;
}
#two:checked ~ .button2 .two{
  width: 35px;
  background-color: red;
}
#two:checked ~ .button2 .three{
  width: 5px;
}
#two:checked ~ .button2 .four{
  width: 5px;
}
#two:checked ~ .button2 .five{
  width: 5px;
}
#two:checked ~ .button2 .six{
  width: 5px;
}

#three:checked ~ .button2 .one{
  width: 5px;
  background-color: #D9D9D9;
}
#three:checked ~ .button2 .two{
  width: 5px;
}
#three:checked ~ .button2 .three{
  width: 35px;
  background-color: red;
}
#three:checked ~ .button2 .four{
  width: 5px;
}
#three:checked ~ .button2 .five{
  width: 5px;
}
#three:checked ~ .button2 .six{
  width: 5px;
}

#four:checked ~ .button2 .one{
  width: 5px;
  background-color: #D9D9D9;
}
#four:checked ~ .button2 .two{
  width: 5px;
}
#four:checked ~ .button2 .three{
  width: 5px;
}
#four:checked ~ .button2 .four{
  width: 35px;
  background-color: red;
}
#four:checked ~ .button2 .five{
  width: 5px;
}
#four:checked ~ .button2 .six{
  width: 5px;
}

#five:checked ~ .button2 .one{
  width: 5px;
  background-color: #D9D9D9;
}
#five:checked ~ .button2 .two{
  width: 5px;
}
#five:checked ~ .button2 .three{
  width: 5px;
}
#five:checked ~ .button2 .four{
  width: 5px;
}
#five:checked ~ .button2 .five{
  width: 35px;
  background-color: red;
}
#five:checked ~ .button2 .six{
  width: 5px;
}

#six:checked ~ .button2 .one{
  width: 5px;
  background-color: #D9D9D9;
}
#six:checked ~ .button2 .two{
  width: 5px;
}
#six:checked ~ .button2 .three{
  width: 5px;
}
#six:checked ~ .button2 .four{
  width: 5px;
}
#six:checked ~ .button2 .five{
  width: 5px;
}
#six:checked ~ .button2 .six{
  width: 35px;
  background-color: red;
}
input[type="radio"]{
  display: none;
}
@media screen and (max-width: 1024px){
  .item{
      width: calc(33.3vw - 20px);
  }
  .button{
      display: none;
  }
}
@media screen and (max-width: 768px){
  .item{
      width: calc(50vw - 20px);
  }
  .button{
      display: none;
  }
}